[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
crowdsale = "HHEMku7SfVTSUnVobRawMC7pz54pebkG2W7ZRmCd357W"

[programs.localnet]
crowdsale = "HHEMku7SfVTSUnVobRawMC7pz54pebkG2W7ZRmCd357W"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
